name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.6'
      - name: Install Tools
        run: |
          # Install tools in parallel
          (curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.4.0) &
          pid_lint=$!
          (go install honnef.co/go/tools/cmd/staticcheck@latest) &
          pid_static=$!
          (go install golang.org/x/vuln/cmd/govulncheck@latest) &
          pid_vuln=$!
          
          wait $pid_lint || exit 1
          wait $pid_static || exit 1
          wait $pid_vuln || exit 1
      - name: Run Checks
        run: |
          # Run checks in parallel
          (make lint) &
          pid_lint=$!
          (make vuln) &
          pid_vuln=$!
          
          wait $pid_lint || exit 1
          wait $pid_vuln || exit 1
      - name: Run Tests
        run: make tests
